
:root{
--primery-color:rgb(248 211 255);
--font-family: 'Inter', sans-serif;
--long-family:'Pacifico', cursive;
}
h1,h2,h3,h4,h5,h6, .title,#navbrand{
    font-family: var(--long-family);
    font-weight: 700;
}
body{
 font-family: var(--font-family);
 color: var(--tex-color);
}
/****************start navbar************************/

.logo{
    width: 120px;
}
.bg-body-tertiary{
        background-color: var(--primery-color) !important;
}
.navbar, #navbrand{
    font-size: 20px !important ;
}
.navbar-nav{
   margin-right: 30px !important ; 
}
.nav-link:focus, .nav-link{
    padding-left: 16px !important ;
}
.nav-link:focus, .nav-link:hover {
    background-color: white !important;
    padding: 6px 2px;
    border-radius: 6px   ;
    -webkit-border-radius: 6px   ;
    -moz-border-radius: 6px   ;
    -ms-border-radius: 6px   ;
    -o-border-radius: 6px   ;
}
/****************end navbar************************/

/****************start arrow************************/
#btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color:var(--primery-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
}
/*****************end arrow*************************/
.header-title{
            font-size: 3.5rem; 
            z-index: 10;
            font-weight: 400;
            letter-spacing: 1.5px;
}
.main{
    position: relative;
    height: 80vh;
    padding-top: 40px;
}
.main img{
    /*width: 100vh;
    *//*object-fit: cover;
    */position: absolute;
    width: 300px;
    max-width: 50%;
    z-index: 1;
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#cinamon-left{
    left: 0;
    top: 25%;
}
#cinamon-right{
    right: 0;
    top:10%;
}
.title {
    position: relative;
    width: fit-content; /* بدل inline-block */
    padding-bottom: 5px;
    margin: 0 auto 20px; /* يوسّط العنوان لوحده */
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primery-color);
}


/*********************start about section***************************************/

.about-content p {
  line-height: 1.7;
}
 .content-title { 
            color: var(--primery-color);
        }


/*********************end about section***************************************/


/*********************start service section***************************************/
.service-section{
     padding: 40px 0;
    background-color: var(--primery-color);
}
.service-item{
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    height: 100%;
    /*لتساويارتفاعالبطاقات*/display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.icon-circle{
     width: 80px;
     height: 80px;
     background-color: var(--primery-color);
     color: #fff;
     border-radius: 50% ;
     -webkit-border-radius: 50% ;
     -moz-border-radius: 50% ;
     -ms-border-radius: 50% ;
     -o-border-radius: 50% ;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto 20px;
     margin-bottom: 15px;
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
}
.icon-circle:hover{
    background-color: #000;
    color: var(--primery-color);
}
.icon{
    font-size: 45px;
}
.service-content h3 , .service-content p{
    flex-grow: 1;
    text-align: left;
    max-width: 250px;
}


/*********************end service section***************************************/


/*********************start bits section***************************************/
.card {
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
/*********************end bits section***************************************/


 /***********************************start footer************************/

footer{
    background-color: var(--primery-color);
     padding: 15px 0;
      }
.social-icons  a{
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s;
  display: inline-block;
  padding: 6px;
  border-radius: 6px;
  color: #fff; 
}

.social-icons a:hover  {
  background-color: #fff; 
  color: var(--primery-color);
}
                /*********************end footer*************************/